<div class="register-success-page">
    <div class="page-header">
        <h1>400</h1>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <p>
                User not found
            </p>
        </div>
    </div>
</div>